header{
  background-color:#d7eef2;
    
  font-family: verdana;
  text-align: center;
  margin-top: 20%;
  width: 100%;

}
body{
  background-color : #d7eef2;
    
}
#social{
    text-align: center;
    font-size:24px;
    color:rgb(0,0,0);
    padding: 0.1%;
    width: 100%;
}
footer{
  font-family: verdana;
  color:rgb(0,0,0);
  font-size: 10px;
  text-align: center;
  padding: 1%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}
a{
  color:rgb(0,0,0);
}
@media (min-width: 858px) {
    html {
       font-size:28px;
    }
}

@media (min-width: 780px) {
    html {
        font-size:28px;
    }
}

@media (min-width: 702px) {
    html {
       font-size:28px;
    }
}

@media (min-width: 724px) {
    html {
        font-size:28px;
    }
}

@media (max-width: 623px) {
    html {
        font-size:28px;
    }
}
/*comment*/