body {
  background-color: rgb(255, 255, 255);
   color:rgb(0,0,0);
  font-family:verdana;
  font-size:16px;
}
h1,h2,h3,h4,h5,h6 {

  color:rgb(0,0,0);
  font-family:verdana;
}

p{
  color:rgb(0,0,0);
}
th{
  background-color:#fff4ee;
  color:rgb(0,0,0);
}
#head{
  font-family: verdana;
  color:rgb(0,0,0);
  background-color : #fff4ee;
  border: 1px ridge #fff4ee;
  border-radius : 22px;
  box-shadow : 10px 10px 5px #888888;
  clear : both;
  margin : 1% 4% auto;
  padding : 1%;
  width : 90%;
}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10{
  font-family: verdana;
  color:rgb(0,0,0);
  background-color : #fff4ee;
  border : 1px ridge #fff4ee;
  border-radius : 22px;
  box-shadow : 10px 10px 5px #888888;
  float : left;
  margin : 1% 1% 1% 4%;
  padding : 1%;
  width : 70%;
}
#table{
  float: left;
}
#footer{
  font-family: verdana;
  color:rgb(0,0,0);
  background-color : #fff4ee;
  font-size: 11px;
  border : 1px ridge #fff4ee;
  border-radius : 22px;
  box-shadow : 10px 10px 5px #888888;
  float: left;
  margin : 1% 1% 1% 4%;
  padding : 2%;
  width : 40%;
}
#pic{
  height: 50px;
  width: 50px;
  float: right;
}
a{
   color:rgb(50, 50, 50); 
}
#cam{
   border-radius: 50%;
    width: 200px;
    
}
@media print{
	p{
  font-family: "Arial", sans-serif;
  } 
  table,th,td{
    border: 1px solid rgb(160, 130, 31);
  }
  img{
    display: none;
  }
  ul{
    color:rgb(87, 223, 87);
  }
  ol{
    list-style-type: disc;
  }
}


